@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Signika:wght@500;600&display=swap");

:root {
  --main-color: #b3e8e5;
  --main-bg-background: url("../img/Pattern.svg");
}

body {
  background-color: var(--main-color);
  background-image: var(--main-bg-background);
  background-size: 250px;
  background-repeat: repeat;
  font-family: "Signika";
  color: #0d282d;
}

main {
  width: 100%;
  display: flex;
}

section {
  margin: 10px;
}

section#welcome {
  font-size: 30px;
  padding: 20px 40px;
  background-color: #b3e8e5;
  border-left: 5px solid #3bacb6;
  -webkit-user-select: none;
  user-select: none;
}

section#welcome .name,
section#welcome .nickname {
  font-family: "Pacifico";
  font-size: 80px;
}

section#welcome #social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (orientation: landscape) {
  section {
    flex-basis: 50%;
  }

  .tab button {
    font-size: 30px;
  }
}

@media only screen and (orientation: portrait) {
  section {
    display: block;
    width: 100%;
  }

  section#welcome {
    font-size: 20px;
    padding: 10px;
  }

  section#welcome .name,
  section#welcome .nickname {
    font-size: 40px;
  }

  main {
    flex-wrap: wrap;
  }

  .tab button {
    font-size: 20px;
  }
}

/** Code W3 **/
/* Style the tab */
.tab {
  display: flex;
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #3bacb6;
  font-family: "Signika";
  border: none;
  flex-basis: 33%;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #b3e8e5;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2f8f9d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
  padding: 6px 12px;
  border-top: none;
  background-color: #b3e8e5;
}
